.navbar {
  display: flex;
  justify-content: space-between;
  min-width: 660px;
}

.link {
  display: inline-flex;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 150px;
  height: 36px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #7C5F35;
  text-transform: capitalize;
  border-radius: 4px;
}

.link:hover {
    box-shadow: 0px 5px 15px 4px rgba(226, 194, 125,1);
}